* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

.container {
    background: rgb(233, 226, 226);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 24px;
    font-size: 35px;
    background: linear-gradient(270deg,
            #ff6a00, #ee0979, #00f2fe, #4facfe);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.search-box {
    display: flex;
    margin-bottom: 20px;

}

.search-box {
    display: flex;
}

.bb {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#butt {
    position: relative;
    z-index: 1;
    background: #4facfe;
    color: black;
}

#butt::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    transform: translateY(100%);
    transition: transform 0.4s ease;
    z-index: -1;

}

#butt:hover::after {
    transform: translateY(0);
    /* slide up */
}

.search-box input {
    width: 70%;
    padding: 8px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #ccc;
    outline: none;
    height: 8vh;
}

.search-box button {
    padding: 8px 10px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: #4facfe;
    color: rgb(246, 242, 242);
    cursor: pointer;
    height: 8vh;
}

.weather-box h2 {
    margin-bottom: 10px;
}

.name {
    font-size: 30px;
}

.temp {
    font-size: 40px;
    font-weight: bold;
}

.desc {
    font-size: 18px;
    color: gray;
    margin-top: 8px;
}

.weather-icon {
    width: 60%;
}