* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    color: wheat;
}

body {
    height: 100vh;
    background: linear-gradient(150deg, #141e30,
            #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main {

    height: 30vh;
    width: 45vw;
    background: rgba(255, 255, 255, 0.118);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    backdrop-filter:blur(10px) ;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
gap: 10px;
position: relative;
z-index: 2;
}

#time{
    font-size: 9vh;
    color:#FFD6A6;
}
.ball-1{
    height: 200px;
    width: 200px;
    background-color: #f0ffc26c;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    transform: translate(-120px,-190px);
}

.ball-2 {
    height: 200px;
    width: 200px;
    background-color: #ffedce61;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    transform: translate(790px, -310px);
}

.ball-3 {
    height: 200px;
    width: 200px;
    background-color: #c0e1d244;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    transform: translate(450px,120px);
}


